
#codeArea .keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
#codeArea .semicolon {
    -fx-font-weight: bold;
}
#codeArea .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
#codeArea .bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
#codeArea .brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
#codeArea .string {
    -fx-fill: blue;
}

#codeArea .comment {
	-fx-fill: cadetblue;
}

#codeArea .paragraph-box:has-caret {
    /*-fx-background-color: #f2f9fc;*/
    -fx-background-color: #f2f9fc;
}
