/*全局字体样式*/
.root {
   -fx-font-size: 14px;
}

/*按钮基础样式*/
.btn-basic {
   -fx-background-insets: 0;
   -fx-background-color: transparent;
}

/*鼠标覆盖按钮效果*/
.btn-basic:hover {
   -fx-background-color: rgb(76,80,82);
}

/*鼠标点击按钮效果*/
.btn-basic:pressed {
   -fx-background-color: rgb(92,97,100);
}

/*边框正常弧度按钮*/
.btn-radius-normal {
   -fx-border-radius: 2px;
   -fx-background-radius: 2px;
}

/*边框圆角按钮*/
.btn-radius-large {
   -fx-border-radius: 50px;
   -fx-background-radius: 50px;
}

/*深色主题*/
.dark-theme {
   -fx-background-color: rgb(60, 63, 65);
   -fx-border-color: rgb(50,50,50);
}
.menu-button > .label,.menu-item > .label{
	-fx-text-fill: rgb(187, 187, 187);
}
.menu-bar > .container > .menu-button:showing{
    -fx-background-color: rgb(75,110,175);
}
.menu-bar > .container > .menu-button:hover{
    -fx-background-color: rgb(75,110,175);
}
.menu :focused{
    -fx-background-color: rgb(60, 63, 65);
}
.menu :hover{
    -fx-background-color: rgb(60, 63, 65);
}
.menu-item {
	-fx-background-color: rgb(60, 63, 65);
	-fx-text-fill: rgb(187, 187, 187);
}
.menu-item:focused {
    -fx-background-color: rgb(75,110,175);
}
.tree-view {
	-fx-background-color: rgb(50,50,50);
}
.tree-cell {
	-fx-background-color: rgb(60, 63, 65);
	-fx-text-fill: rgb(187, 187, 187);
}
.tree-cell:filled:selected {
    -fx-background-color: rgb(75,110,175);
}
.tree-view .corner {
	-fx-background-color: transparent;
}
.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: rgb(173,173,173);
}

.tab-pane > .tab-header-area > .tab-header-background {
	-fx-background-color: rgb(60, 63, 65);
}
.tab {
    -fx-background-color: rgb(78,82,84);
    -fx-text-fill: rgb(187, 187, 187);
}
.tab:selected{
	-fx-background-color: rgb(78,82,84);
    -fx-text-fill: rgb(187, 187, 187);
}
.tab:hover {
	-fx-background-color: rgb(51,53,55);
	-fx-color : #1a83e1;
}
.tab:selected {
	-fx-text-fill: rgb(187, 187, 187);
}
.scroll-bar {
	-fx-background-color: transparent;
}
.scroll-bar .thumb {
    -fx-background-color: rgb(78,78,78);
}
.split-pane *.split-pane-divider {
	-fx-background-color: transparent;
    -fx-padding: 1;
} 
.label{
	-fx-text-fill: rgb(187,187,187);
	-fx-font-family: 'consolas';
	-fx-background-color: transparent;
}
